<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="Padrao/LayoutPadrao">
<head>
<title>Cadastro de Clientes</title>
</head>


<body>
	<section layout:fragment="conteudo">

		<form class="form-horizontal" method="POST" action="/clientes"
			th:object="${cliente}">

			<div layout:include="Padrao/mensagemErro"></div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="clearfix">
						<h1 class="panel-title jd-titulo-panel">Novo título</h1>
						<a class="btm btn-link jd-link-panel" href="/clientes">Voltar
							para pesquisa</a>
					</div>
				</div>

				<div class="panel-body">

					<!--campo nao visivel para enviar ao controller  o id, caso o id seja null
					  sera criado um novo objeto, canso nao seja null, objeto será recuperado e alterado.-->
					<input type="hidden" th:field="*{id}" />

					<div class="form-group"
						th:classappend="${#fields.hasErrors('nome')} ? has-error">
						<label for="nome" class="col-sm-2 control-label">Nome</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="nome"
								th:field="*{nome}" />
						</div>
					</div>

					<div class="form-group"
						th:classappend="${#fields.hasErrors('dataNascimento')} ? has-error">
						<label for="dataNascimento" class="col-sm-2 control-label">Data
							de nascimento</label>
						<div class="col-sm-2">
							<input type="text" class="form-control" id="dataNascimento"
								th:field="*{dataNascimento}" />
						</div>
					</div>

					<div class="form-group"
						th:classappend="${#fields.hasErrors('endereco')} ? has-error">
						<label for="endereco" class="col-sm-2 control-label">Endereço
							completo</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" id="endereco"
								th:field="*{endereco}" />
						</div>
					</div>

					<div class="form-group"
						th:classappend="${#fields.hasErrors('cel')} ? has-error">
						<label for="cel" class="col-sm-2 control-label">Celular</label>
						<div class="col-sm-2">
							<input type="text" class="form-control" id="cel"
								th:field="*{cel}" />
						</div>
					</div>

					<div class="form-group"
						th:classappend="${#fields.hasErrors('tel')} ? has-error">
						<label for="tel" class="col-sm-2 control-label">Telefone
							residencial</label>
						<div class="col-sm-2">
							<input type="text" class="form-control" id="tel"
								th:field="*{tel}" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-primary">Salvar</button>
						</div>
					</div>


				</div>


			</div>

		</form>

	</section>




</body>

</html>