<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="Padrao/LayoutPadrao">


<head>
<title>Pesquisa de clientes</title>
</head>

<section layout:fragment="conteudo">
	<div layout:include="Padrao/mensagemGeral"></div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title jd-titulo-panel">Pesquisa de titulos</h1>
				<a class="btm btn-link jd-link-panel" href="/clientes/novo">Novo
					cliente</a>
			</div>
		</div>


		<div class="panel-body">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="text-center col-md-1">#</th>
						<th class="text-center col-md-2">Nome completo</th>
						<th class="text-center col-md-2">Data de nascimento</th>
						<th class="text-center col-md-2">Endereço</th>
						<th class="text-center col-md-2">Celular</th>
						<th class="text-center col-md-2">Telefone residencial</th>
						<th class="text-center col-md-1">funções</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cliente : ${clientes}">
						<td class="text-center" th:text="${cliente.id}">1</td>
						<td th:text="${cliente.nome}"></td>
						<td class="text-center" th:text="${{cliente.dataNascimento}}"></td>
						<td class="text-right" th:text="${{cliente.endereco}}|"></td>
						<td class="text-right" th:text="${{cliente.cel}}|"></td>
						<td class="text-right" th:text="${{cliente.tel}}|"></td>
						<td class="text-center">
							<a class="btn btn-link btn-xs"
								th:href="@{/clientes/{id}(id=${cliente.id})}" 
								title="Editar" rel="tooltip" data-placement="top"> 
									<span class="glyphicon glyphicon-pencil"></span>
							</a> 
							<a class="btn btn-link btn-xs" data-toggle="modal"
								data-target="#confirmacaoExclusaoModalCliente"
								th:attr="data-id=${cliente.id}, data-nome=${cliente.nome}" 
								title="Excluir" rel="tooltip" data-placement="top"> 
									<span class="glyphicon glyphicon-remove"></span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div layout:include="/Cliente/confirmacaoExclusaoCliente"></div>
	</div>
</section>

</html>