<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="Padrao/LayoutPadrao">
<head>
<title>Pagina inicial</title>
<meta charset="UTF-8"></meta>
</head>

<section layout:fragment="conteudo">

	<div class="jumbotron">
		<h1>Hello, world!</h1>
		<p>...</p>
		<p>
			<a class="btn btn-primary btn-lg" href="#" role="button">Learn
				more</a>
		</p>
	</div>
</section>

</html>